html, body{
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 70px;
    position: absolute;
    border-bottom: 1px solid #EAEAEB;
    background-color: #fff;
}

header nav .menu{
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}

header nav .menu li{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #EAEAEB;
}

header nav .menu li a{
    color: gray;
}

header nav .menu{
    text-decoration: none;
    list-style: none;
}

header nav .menu li:nth-child(1){
    border-top: 1px solid #EAEAEB;
    padding-top: 20px;
}

header nav label{
    padding-left: 20px;
    font-size: 26px;
    line-height: 70px;
}

header nav #toggle{
    display: none;
}

#toggle:checked + .menu{
    display: flex;
    position: relative;
    z-index: 3;
    padding: 0;
    margin: 0 auto;
}

header nav label{
    cursor: pointer;
}


@media only screen and (min-width: 700px){
    /* HEADER */
    header nav label{
        display: none;
    }

    header nav .menu{
        display: flex;
        flex-direction: row;
    }

    header nav .menu li{
        width: auto;
        margin-left: 30px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    header nav .menu li:nth-child(1){
        border-top: none;
        padding-top: 14px;
    }

    header nav .menu li{
        border-bottom: none;
    }

    header nav {
        border-bottom: 1px solid #EAEAEB;
    }

    header nav .menu li:last-child{
        margin-left: auto;
        margin-right: 50px;
    }
}
